<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Add a student to all bootcamp courses{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    {% block delete %}

    <h2>Add a new course</h2>
    <form action="courses" method="POST">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="desc">Description:</label>
        <textarea name="desc"></textarea>
        <button type="submit" id="course__button">Add</button>
    </form>
    <ul>
        {% for msg in messages %}
        <li>{{msg}}</li>
        {% endfor %}

    </ul>
    <h2>Courses</h2>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for course in all_courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.desc }}</td>
            <td>{{ course.created_at|date:"M jS Y g:iA"  }}</td>
            <td><a href="/courses/destroy/{{ course.id }}">remove</a></td>
        </tr>
        {% endfor %}
    </table>

    {% endblock %}
</body>

</html>